* {
  margin: 0;
  padding: 0;
  justify-content: center;
}

.calend-index {
  position:absolute;
  top: 0;
  left: 0;
  border-radius: none;
  background-color: black;
  display: flex;
  width: 30vw;
  height: 100dvh;
  align-items: start;
  justify-content: start;
  
  z-index: 1;
  
}

.centralC {
  position: absolute;
  display: flex;
  border: 5px red;
  background-color: #ff080800;
  flex-direction: column;
  width: 10dvw;
  height: 10dvh;
}

.agenda {
  -webkit-user-drag: none;
}

.semestre {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  border: yellow;
}
.mes {
  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 300px;
  height: 360px;
  margin: 10px;
}
.weekSection {
  display: flex;
  justify-content:center;
  align-items: center;
  width:fit-content ;
  height: fit-content;
}
#week {

  background-color: #607d8b; /* Adjust background color as needed */
  border: 0.5px solid #3f5b69;
}

.daysSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
  width: fit-content;
  min-width:unset;
  height: fit-content;
}

.week{
  position: relative;

  margin: 0;
  padding: 0;
  width: 40px; /* Adjust the width as needed */
  height: 48px; /* Adjust the height as needed */
  background-color: #7e9eae; /* Adjust background color as needed */
  border: 0.5px solid #3f5b69;
  padding: 0;
  text-align: center;
  text-justify: distribute;
  margin: 0; /* Adjust margin as needed */
  display: inline-block;
  border-radius: 50px;

}
.day {
  position: relative;
  width: 40.5px; /* Adjust the width as needed */
  height: 48px; /* Adjust the height as needed */
  background-color: #607d8b; /* Adjust background color as needed */
  border: 0.5px solid #3f5b69;
  padding: 0;
  text-align: center;
  text-justify: distribute;
  margin: 0; /* Adjust margin as needed */
  display: inline-block;
  border-radius: 50px;
}