
.comand-center-index
{
  position: relative;
  display:flex;
  
  flex-direction: column;
  align-items: center;
  justify-content:space-between;

  border: 0.1dvh  rgba(0, 0, 0, 0.938);
  
  width: 37.5dvw;
  height:15dvh;
    
  z-index: 1;

}

.comand-center
{
  position: absolute;
  display:flex;
  width: fit-content;
  height:80dvh;
  flex-direction: column;
  align-content:center;
  align-items:center;
  justify-content: space-around;

  border: 0.1dvh solid rgba(0, 0, 0, 0.938);
  left: 2dvw;
  z-index: 1;
  
}

.cnt{
  display:flex;
  justify-content: center;
  align-items: center;
  image-orientation: from-image;
  align-content: center;
  width: 100%;
  height: fit-content;
  border: 1px   black;
}

.prg-btn-img{
  position: relative;
  display:flex;
  
  width: 2dvw;
  height: 2dvw;

  bottom: 1dvw;
  right: 1dvw;
  
  z-index: 1;
}

 .btn-progresso,.btn-agenda,.btn-recursos{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3dvw;
  height: 3dvw;
  
  background-color: #a0ff97d2;
  border: grey 0.1dvw solid ;
  border-style: solid;
  border-radius: 5dvw;
  z-index: 1;
  transition: border-style 1s;
}
.btn-agenda:hover, .btn-recursos:hover, .btn-progresso:hover{
  cursor: pointer;
  background-color: #90ef87;
  border-style: dashed;
  transition: border-style 2s;

}
.btn-progresso:active, .btn-agenda:active,.btn-recursos:active{
  background-color: rgba(160, 255, 151, 0.800);

}


.popup-informations{
  position: absolute;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  justify-content:center;
  opacity: 0;

  pointer-events: none;
  white-space: nowrap;
}


.btn-progresso:hover .popup-informations,
.btn-agenda:hover .popup-informations,
.btn-recursos:hover .popup-informations {
  display:flex;
  
  position: absolute;

  font-family: Roboto, Arial, sans-serif; 
  font-size: 1.8dvh;
  
  background-color: rgb(101, 101, 101);
  color: white;


  border-radius: 0.3dvh;
  
  padding-left: 0.5dvh;
  padding-right: 0.5dvh;
  padding-top: 0.5dvh;
  padding-bottom: 0.5dvh;

  opacity:initial;
  transition: opacity 0.5s;

  z-index: 100;


  white-space: nowrap;


}
.popup-informations:hover{
  opacity: 0;
  cursor: unset;

}
#progresso-name{
  position: absolute;
  top: 9dvh;
  resize: none;
  
}

#agenda-name{
  top: 9dvh;

}
#recursos-name{
  top: 9dvh;

}
#home-name{
  top: 9dvh;
}






@media  (min-height: 150dvw)  
{
  .comand-center-index{
    
    flex-direction: row;
    height: 50dvh;

  }
  .btn-progresso,.btn-agenda,.btn-recursos {
    width: 10dvw;
    height: 10dvw;
    
  }
  .prg-btn-img{
    width: 7dvw;
    height: 7dvw;
  
    bottom: 3.5dvw;
    right: 3.5dvw;
  }


}

@media  (min-height: 125dvw) and (max-height: 150dvw)
{
  .comand-center-index{
    
    flex-direction: row;
    height: 50dvh;

  }
  .btn-progresso,.btn-agenda,.btn-recursos {
    width: 7.5dvw;
    height: 7.5dvw;
    
  }
  .prg-btn-img{
    width: 5.5dvw;
    height: 5.5dvw;
  
    bottom: 2.9dvw;
    right: 2.8dvw;
  }


}
@media  (min-height: 100dvw) and (max-height: 125dvw)
{
  .comand-center-index{
    
    flex-direction: row;
    height: 50dvh;

  }
  .btn-progresso,.btn-agenda,.btn-recursos {
    width: 7dvw;
    height: 7dvw;
    
  }
  .prg-btn-img{
    width: 4dvw;
    height: 4dvw;
  
    bottom: 2dvw;
    right: 2dvw;
  }


}


@media  (min-height: 75dvw) and (max-height: 100dvw)  
{
  .comand-center-index{
    
    flex-direction: row;
    
  }
  .btn-progresso,.btn-agenda,.btn-recursos {
    width: 6dvw;
    height: 6dvw;
    
  }
  .prg-btn-img{
    width: 3.7dvw;
    height: 3.7dvw;
  
    bottom: 1.8dvw;
    right: 1.8dvw;
  }


}
@media  (min-height: 60dvw) and (max-height: 75dvw)  
{
  .comand-center-index{
    
    flex-direction: row;
    
  }
  .btn-progresso,.btn-agenda,.btn-recursos {
    width: 5dvw;
    height: 5dvw;
    
  }
  .prg-btn-img{
    width: 3dvw;
    height: 3dvw;
  
    bottom: 1.5dvw;
    right: 1.5dvw;
  }


}
@media (max-height: 60dvw)  
{
  .comand-center-index{
    
    flex-direction: row;
    
  }
  .btn-progresso,.btn-agenda,.btn-recursos {
    width: 3.5dvw;
    height: 3.5dvw;
    
  }
  .prg-btn-img{
    width: 2.3dvw;
    height: 2.3dvw;
  
    bottom: 1.2dvw;
    right: 1.2dvw;
  }



}





















