
.comand-center-index
{
  position: relative;
  display:flex;
  
  flex-direction: row;
  align-items: center;
  justify-content:space-around;

  border: 0.1dvh  rgba(0, 0, 0, 0.5);
  
  width: 37.5dvw;
  height:15dvh;
    
  z-index: 1;

}

.comand-center
{
  position: absolute;
  display:flex;
  width: fit-content;
  height:80dvh;
  flex-direction: column;
  align-content:center;
  align-items:center;
  justify-content: space-around;

  border: 0.1dvh solid rgba(0, 0, 0, 0.048);
  left: 2dvw;
  z-index: 1;
  
}

.cnt{
  display:flex;
  justify-content: center;
  align-items: center;
  image-orientation: from-image;
  align-content: center;
  width: 100%;
  height: fit-content;
  border: 1px  black;
}

.prg-btn-img{
  position: relative;
  display:flex;
  
  width: 2dvw;
  height: 2dvw;

  bottom: 1dvw;
  right: 1dvw;
  
  z-index: 1.0;
}

 .btn-progresso,.btn-agenda,.btn-recursos{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3dvw;
  height: 3dvw;
  
  background-color: #a0ff97d2;
  border: grey 0.1dvw dashed ;
  border-radius: 5dvw;
}
.btn-agenda:hover, .btn-recursos:hover, .btn-progresso:hover
{
  cursor: pointer;
  background-color: #a0ff97ab;

}
.btn-progresso:active, .btn-agenda:active,.btn-recursos:active{
  background-color: rgba(160, 255, 151, 0.800);

}


.popup-informations{
  position: absolute;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  justify-content:center;
  opacity: 0;
}

.btns-rec:hover .popup-informations,
.btns-agd:hover .popup-informations,
.btns-prg:hover .popup-informations
{

}
.btn-progresso:hover .popup-informations,
.btn-agenda:hover .popup-informations,
.btn-recursos:hover .popup-informations {
  display:flex;
  
  position: absolute;

  font-family: Roboto, Arial, sans-serif; 
  font-size: 12px;
  
  background-color: rgb(101, 101, 101);
  color: white;


  border-radius: 3px;
  
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

  opacity:initial;
  transition: opacity 0.5s;

  z-index: 100;


  white-space: nowrap;


}
#progresso-name{
  position: absolute;
  top: 60px;
  
}

#agenda-name{
  top: 60px;

}
#recursos-name{
  top: 60px;

}
#home-name{
  top: 60px;
}





















